%html
  %head
    %title= 'Thirukural'
    %script{type: 'text/javascript', src: '/javascripts/jquery.min.js'}
    %script{type: 'text/javascript', src: '/javascripts/bootstrap.min.js'}
    %script{type: 'text/javascript', src: '/javascripts/app.js'}
    %link{rel: 'stylesheet', type: "text/css", href: '/stylesheets/styles.css'}
    %link{rel: 'stylesheet', type: "text/css", href: '/stylesheets/bootstrap.min.css'}
    %link{rel: 'stylesheet', type: "text/css", href: '/stylesheets/bootstrap-responsive.min.css'}
  %body
    .container-fluid
      .span8
        = yield